.back-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 1rem 1.5rem;
  background: var(--white);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

.back-header .back-header-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
  display: flex;
  align-items: center;
}
.back-button span {
    font-size: 1.6rem;
    color: var(--primary-color);
    transition: color 0.2s ease;
}

.back-button span:hover{
  color: var(--white);
}

.back-title {
  margin: 0;
  font-size: 1.65em;
  color: var(--primary-color);
}
